# Dependencies
node_modules
package-lock.json
yarn.lock

# Production
dist
.env.production

# Development
.env
.env.local
.env.development
.env.test
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea
.vscode
*.swp
*.swo
*~
.DS_Store

# Logs
npm-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
*.tsbuildinfo

